name: Bandit Security Scan

on:
  push:
  workflow_dispatch:

permissions:
  contents: read
  security-events: write

jobs:
  bandit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Bandit
        uses: PyCQA/bandit-action@v1.0.1
